<ion-view view-title="My Orders">
  <ion-nav-buttons side="left">
      <div class="buttons">
        <button class="button button-icon icon ion-ios-minus-outline" ng-click="data.showDelete = !data.showDelete;"></button>
      </div>
</ion-nav-buttons>
  <ion-content>
    <ion-list show-delete="data.showDelete">
      <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="item in cart.items track by $index" type="item-text-wrap" href="#/tab/orders/{{item.id}}">
        <img ng-src="{{item.icon}}">
        <h2>{{item.name}}</h2>
        <p>{{item.price | currency}}</p>
        <i class="icon ion-chevron-right icon-accessory"></i>
        <ion-delete-button class="ion-minus-circled" ng-click="onItemDelete(item)"></ion-delete-button>
        <ion-option-button class="button-assertive" ng-click="edit(item)">Edit</ion-option-button>
      </ion-item>
    </ion-list>
  </ion-content>
  <ion-footer-bar class="bar-balanced">
      <button class="button button-icon ion-checkmark-circled " ng-click="place()">
        Place Order :{{cart.total | currency}}</button>
  </ion-footer-bar>
</ion-view>
