<ion-view title="Home">
    <ion-content padding="true" class="has-header">
        <form class="list">
            <label class="item item-input" name="Search">
                <i class="icon ion-search placeholder-icon"></i>
                <input type="search" placeholder="Search for an Item...">
            </label>
        </form>
        <button class="button button-stable button-block ">Place an order</button>
        <button class="button button-stable button-block ">See specials</button>
        <button class="button button-dark   icon ion-android-locate">Find nearest Restaraunt</button>
    </ion-content>
</ion-view>