<ion-view title="Home">
    <ion-nav-buttons side="right">
        <button class="button icon-left ion-log-out button-stable" ng-click="logout()">Logout</button>
      </ion-nav-buttons>
        <ion-content padding="true" class="has-header">
          <div ng-show="authData">
            <p>Hello, {{authData.google.displayName}}</p>
          </div>
            <form class="list">
                <label class="item item-input" name="Search">
                    <i class="icon ion-search placeholder-icon"></i>
                    <input type="search" placeholder="Search for an Item...">
                </label>
            </form>
            <button class="button button-stable button-block ">See specials</button>
            <button class="button button-dark icon ion-android-locate" ng-click="showMap=!showMap">Find nearest Restaraunt</button>
            <div ng-show="showMap">
              <div id="map" data-tap-disabled="true"></div>
              <div id="right-panel">
                <p>Total Distance: <span id="total"></span></p>
              </div>
            </div>
        </ion-content>
</ion-view>
