<ion-view view-title="Place An Order">
  <ion-content>
    <ion-list>
      <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="order in orders" type="item-text-wrap" href="#/tab/orderScreen/{{order.id}}">
        <img ng-src="{{order.icon}}">
        <h2>{{order.name}}</h2>
        <p>{{order.price | currency}}</p>
        <i class="icon ion-chevron-right icon-accessory"></i>

        <ion-option-button class="button-calm" ng-click="addOrder(order)">
          Add
        </ion-option-button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
