<ion-view title="SignUp">
  <ion-header-bar class="bar-positive">
    <h1 class="title">Sign Up</h1>
  </ion-header-bar>
  <ion-content class="has-header padding">
    <div class="list">
      <label class="item item-input">
        <span class="input-label">Email</span>
        <input type="email" ng-model="user.email" required>
      </label>
      <label class="item item-input">
        <span class="input-label">Password</span>
        <input type="password" ng-model="user.password" required>
      </label>
      <label class="item item-input">
        <span class="input-label">Name</span>
        <input type="text" ng-model="user.name" required>
      </label>
      <label class="item item-input">
        <span class="input-label">Type</span>
        <input type="radio" value="Employee" ng-model="user.type" checked required>
        <input type="radio" value="Customer" ng-model="user.type" required>
      </label>
      <label class="item item-input">
        <button class="button button-block button-positive" ng-click="createUser(user.email,user.password,user.name,user.type)">
          Sign Up
        </button>
      </label>
      <a class="button button-positive button-clear button-block " ng-href="#/login">Already have an account?</a>
    </div>
  </ion-content>
</ion-view>
