<ion-tabs class="tabs-icon-top tabs-positive">
	<!-- Home tab -->
    <ion-tab title="Home" icon="ion-ios-home" href="#/tab/home">
        <ion-nav-view name="home-tab"></ion-nav-view>
    </ion-tab>
    <!--Orders tab -->
    <ion-tab title="My Orders" icon="ion-ios-cart" href="#/tab/orders">
        <ion-nav-view name="orders-tab"></ion-nav-view>
    </ion-tab>
  <!-- Place an Order tab -->
  <ion-tab title="Place An order" icon="ion-checkmark" href="#/tab/placeorder">
    <ion-nav-view name="placeorder-tab"></ion-nav-view>
  </ion-tab>
</ion-tabs>
